/* =========================
   RESET
========================= */

* {
    box-sizing: border-box;
}


body {

    margin: 0;

    width: 100vw;
    height: 100vh;


    display: flex;

    justify-content: center;
    align-items: center;


    background: #202020;


    font-family:
        "Segoe UI",
        Arial,
        sans-serif;

}



/* =========================
   CONTAINER
========================= */


.container {

    position: relative;

    width: 400px;
    height: 350px;

}





/* =========================
   AMPLOP
========================= */


.envelope {

    position: absolute;

    width: 280px;
    height: 170px;


    top:25%;
    left:15%;

}





/* =========================
   BELAKANG AMPLOP
========================= */


.envelope-back {


    position:absolute;


    width:280px;
    height:170px;


    background:#b97842;


    border-radius:12px;


    border:
    3px solid #8b5a2b;



    box-shadow:

    0 10px 25px rgba(0,0,0,.35);



    z-index:1;

}





/* =========================
   KERTAS SURAT
========================= */


.paper {


    position:absolute;


    width:260px;
    height:240px;


    left:70px;
    top:0;


    overflow:hidden;


    background:white;


    border-radius:10px;


    padding:20px;



    box-shadow:

    0 15px 40px rgba(0,0,0,.35);



    z-index:2;



    opacity:0;



    transform:

    translateY(0)

    scale(.9);



    transition:.8s ease;

}




.letter-header h1 {


    margin:0;


    text-align:center;


    font-size:22px;

}




.letter-content {


    margin-top:20px;


    font-size:16px;


    line-height:1.5;

}







/* =========================
   DEPAN AMPLOP
========================= */


.envelope-front {


    position:absolute;


    width:280px;
    height:170px;


    background:#d9a066;


    border-radius:12px;


    border:

    3px solid #8b5a2b;



    z-index:3;

}







/* =========================
   TUTUP AMPLOP
========================= */


.envelope-flap {


    position:absolute;


    width:0;
    height:0;


    left:0;
    top:0;

    border-radius:12px;


    border-left:

    140px solid transparent;



    border-right:

    140px solid transparent;



    border-top:

    90px solid #c48a55;



    transform-origin:top;



    transition:.8s ease;



    z-index:4;

}







/* =========================
   PITA
========================= */


.ribbon {


    position:absolute;


    left:40.5%;


    top:40%;



    width:60px;
    height:60px;



    border:none;


    background:transparent;



    font-size:50px;


    cursor:pointer;



    z-index:5;



    transition:.3s;

}




.ribbon:hover {

    transform:scale(1.15);

}







/* =========================
   AMPLOP TERBUKA
========================= */


.container.open .paper {


    opacity:1;


    transform:

    translateY(-20px)

    scale(1);

}




.container.open .envelope-flap {


    transform:

    rotateX(180deg);



    z-index:1;

}







/* =========================
   KERTAS FULL
========================= */


.container.show-paper .paper {


    animation:

    paper-expand 1s ease forwards;

}






@keyframes paper-expand {


    0% {


        width:260px;

        height:80px;


        transform:

        translateY(0)

        scale(.9);

    }



    50% {


        height:250px;


        transform:

        translateY(-170px)

        scale(1);

    }



    100% {


        width:350px;


        height:450px;


        left:25px;

        top:130px;



        transform:

        translateY(-170px)

        scale(1);

    }

}







/* =========================
   AMPLOP TURUN HILANG
========================= */


.container.show-paper .envelope {


    animation:

    envelope-hide 1s ease forwards;

}





@keyframes envelope-hide {


    from {


        opacity:1;


        transform:

        translateY(0);

    }



    to {


        opacity:0;


        transform:

        translateY(250px)

        scale(.8);

    }

}








/* =========================
   MEMORY FLOWER EFFECT
========================= */


.memory {


    position:fixed;


    inset:0;


    width:100vw;
    height:100vh;


    overflow:hidden;



    background:

    rgba(0,0,0,.75);



    opacity:0;


    pointer-events:none;



    z-index:100;



    transition:

    opacity .8s ease;

}





.memory.show {


    opacity:1;

}






.memory img {


    position:absolute;


    object-fit:contain;



    filter:

    drop-shadow(

    0 15px 30px rgba(0,0,0,.5)

    );



    animation:

    flower-show .8s ease forwards;

}






@keyframes flower-show {


    from {


        opacity:0;


        transform:

        scale(0)

        rotate(-45deg);

    }



    to {


        opacity:1;


        transform:

        scale(1)

        rotate(0deg);

    }

}